<!DOCTYPE html> 
<html lang="en"> 
    <head> 
        <meta http-equiv="content-type" content="text/html; charset=utf-8"> 
        <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
        <meta name="viewport" content="width=device-width, initial-scale=1"> 
        <meta name="description" content=""> 
        <meta name="author" content=""> 
        <title>Narrow Jumbotron Template for Bootstrap</title>         
        <!-- Bootstrap core CSS -->         
        <link href="bootstrap/css/bootstrap.css" rel="stylesheet"> 
        <!-- Custom styles for this template -->         
        <link href="jumbotron-narrow.css" rel="stylesheet"> 
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->         
        <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>    <![endif]-->         
    </head>     
    <body> 
        <div class="container"> 
            <div class="header clearfix"> 
                <nav> 
                    <ul class="nav nav-pills pull-right"> 
                        <li role="presentation" class="active"> 
                            <a href="#">Home</a> 
                        </li>                         
                        <li role="presentation"> 
                            <a href="#">　ラクマ登録支援　Editer　入力チェック</a> 
                        </li>                         
                    </ul>                     
                </nav>                 
                <h3 class="text-muted">ラクマ登録支援</h3> 
            </div>             
            <input> 
            <button>検索</button>                                                                                      
            <button>おまかせ検索</button>                                                                                     
        </div>         
        <div class="container"> 
            <label> 
                <input class="control-label" value="" type="checkbox">
                在庫1を優先する 
            </label>             
        </div>         
        <div class="container"> 
            <label> 
                <input class="control-label" value="" type="checkbox"> 
                高額商品を優先する 
            </label>             
            <p><label> 
                    <input class="control-label" value="" type="checkbox">B品
                    を優先する 
                </label><label></label></p> 
        </div>         
        <div class="container"> 
            <table style="width: 100%" border="1"> 
                <tbody> 
                    <tr> 
                        <td>販売コード</td> 
                        <td>{{販売コード}}</td> 
                    </tr>                     
                    <tr> 
                        <td>名前1</td> 
                        <td>{{正式名称}}</td> 
                    </tr>                     
                    <tr> 
                        <td>名前2</td> 
                        <td>{{売り名称}}</td> 
                    </tr>                     
                    <tr> 
                        <td>金額</td> 
                        <td>{{金額}}</td> 
                    </tr>                     
                    <tr> 
                        <td>状態1</td> 
                        <td>{{在庫}}</td> 
                    </tr>                     
                    <tr> 
                        <td>状態2</td> 
                        <td>{{新品・未使用}}</td> 
                    </tr>                     
                    <tr> 
                        <td>季節</td> 
                        <td>{{季節}}</td> 
                    </tr>                     
                    <tr> 
                        <td>ジャンル</td> 
                        <td>{{和装小物}}</td> 
                    </tr>                     
                    <tr> 
                        <td>サイズ</td> 
                        <td>{{大きさ}}</td> 
                    </tr>                     
                    <tr> 
                        <td>A・B商品別</td> 
                        <td>{{AB品}}</td> 
                    </tr>                     
                    <tr> 
                        <td>配送方法</td> 
                        <td>{{ラクマパック}}</td> 
                    </tr>                     
                    <tr> 
                        <td>申請</td> 
                        <td>{{あり、なし}}</td> 
                    </tr>                     
                </tbody>                 
            </table>             
        </div>         
        <div class="container"> 
            <br> 
        </div>         
        <div class="container">売り文句</div>         
        <div class="container"> 
            <table style="width: 100%" border="1"> 
                <tbody> 
                    <tr> 
                        <td>{{売り文句}}</td> 
                    </tr>                     
                </tbody>                 
            </table>             
        </div>         
        <div class="container"> 
            <br> 
        </div>         
        <div class="container"> 
            <button>登録する</button>                                                                                      
            <button>次</button>             
             
            <button>ディレクトリを開く</button>                                                                                       
            <button>ソースを開く</button>             
             
            <br> 
            <label></label>             
            <script src="assets/js/ie10-viewport-bug-workaround.js"></script>             
        </div>         
    </body>     
</html>
