<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  </head>
  <body>
    <h1> <b>アマゾンチートリスト </b></h1>
    <table width="100%" border="1">
      <tbody>
        <tr>
          <td>
            <h3>基本情報</h3>
          </td>
          <td>アマゾンのバリエーションに気を付ける</td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td>アマゾン文章がある</td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td>一万円以上は送料無料</td>
        </tr>
        <tr>
          <td>
            <h3><b>出品情報</b></h3>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td>商品名</td>
          <td>{{amazon_db.get_商品名2()}}</td>
        </tr>
        <tr>
          <td>ブランド名</td>
          <td>{{amazon_db.get_ブランド名()}}</td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td>出品者SKU</td>
          <td>{{amazon_db.get_出品者SKU()}}</td>
        </tr>
        <tr>
          <td>販売価格</td>
          <td>{{amazon_db.get_販売価格2()}}</td>
        </tr>
        <tr>
          <td>在庫数</td>
          <td>{{amazon_db.get_在庫数()}}</td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td>出品者SKU</td>
          <td>{{amazon_db.get_出品者SKU()}}</td>
        </tr>
        <tr>
          <td>アイテムパッケージ数</td>
          <td>{{amazon_db.get_アイテムパッケージ数()}}</td>
        </tr>
        <tr>
          <td>バリエーション設定</td>
          <td>{{amazon_db.get_バリエーションの設定()}}</td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td>商品の仕様</td>
          <td>{{amazon_db.get_商品の仕様()}}</td>
        </tr>
        <tr>
          <td>商品説明文</td>
          <td>{{amazon_db.get_商品説明文()}}</td>
        </tr>
        <tr>
          <td>素材構成</td>
          <td>{{amazon_db.get_素材構成()}}</td>
        </tr>
        <tr>
          <td>品質</td>
          <td>{{amazon_db.get_品質2()}}</td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
    <p><br>
    </p>
    <p><br>
    </p>
  </body>
</html>
