<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Parser</title>
  </head>
  <body>
    <p><textarea name="seed" cols="100" rows="20"></textarea>　　<button name="Parser"></button><button
        name="Parser">
        <div style="color: #d4d4d4;background-color: #1e1e1e;font-family: Consolas, 'Courier New', monospace;font-weight: normal;font-size: 14px;line-height: 19px;white-space: pre;"><div><span
style="color: #d4d4d4;">Parser</span></div></div>
      </button> </p>
    <table style="width: 100%;" border="1">
      <tbody>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">0:</td>
          <td>{{ seed.split("\t")[0]}}</td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">1:</td>
          <td style="height: 25px;">{{ seed.split("\t")[1]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">2:</td>
          <td>{{ seed.split("\t")[2]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">3:</td>
          <td>{{ seed.split("\t")[3]}}</td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">4:</td>
          <td>{{ seed.split("\t")[4]}}</td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">5:</td>
          <td>{{ seed.split("\t")[5]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">6:</td>
          <td>{{ seed.split("\t")[6]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">7:</td>
          <td>{{ seed.split("\t")[7]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">8:</td>
          <td>{{ seed.split("\t")[8]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">9:</td>
          <td>{{ seed.split("\t")[9]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">10:</td>
          <td>{{ seed.split("\t")[10]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">11:</td>
          <td>{{ seed.split("\t")[11]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">12:</td>
          <td>{{ seed.split("\t")[12]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">13:</td>
          <td>{{ seed.split("\t")[13]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">14:</td>
          <td>{{ seed.split("\t")[14]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">15:</td>
          <td>{{ seed.split("\t")[15]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">16:</td>
          <td>{{ seed.split("\t")[16]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">17:</td>
          <td>{{ seed.split("\t")[17]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">18:</td>
          <td>{{ seed.split("\t")[18]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">19:</td>
          <td>{{ seed.split("\t")[19]}} </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><br>
          </td>
          <td style="text-align: right;">20:</td>
          <td>{{ seed.split("\t")[20]}} </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p> </p>
    <br>
    <table style="width: 100%" border="1">
      <tbody>
        <tr>
          <td><br>
          </td>
          <td><br>
          </td>
          <td>code</td>
          <td>名前</td>
          <td>販売価格</td>
          <td>販売価格_楽天</td>
          <td>販売価格_ラクマ</td>
          <td>下代</td>
          <td>在庫</td>
          <td>梱包サイズ</td>
          <td>商品説明</td>
          <td>サイズ</td>
          <td>品質</td>
          <td>モニター</td>
          <td>柄</td>
          <td>ゆうパケット</td>
          <td>更新日</td>
        </tr>
        <tr>
          <td><input name="rajio1" value="1" type="radio"></td>
          <td>1</td>
          <td>0<br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><input name="rajio1" value="1" type="radio"></td>
          <td>2</td>
          <td>0<br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
        <tr>
          <td><input name="rajio1" value="1" type="radio"></td>
          <td>3</td>
          <td>0<br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
          <td><br>
          </td>
        </tr>
      </tbody>
    </table>
    <p> </p>
    <br>
    <div style="text-align: center;"><button name="tekiou">適応する</button></div>
    <p><br>
    </p>
    <table style="width: 100%" border="1">
      <tbody>
        <tr>
          <td style="text-align: right;">code</td>
          <td><input name="code" value="0" type="number"><br>
          </td>
          <td>{{ code }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">名前</td>
          <td><input name="name" value="0" type="number"> </td>
          <td>{{ name }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">販売価格</td>
          <td><input name="hanbai_kakaku" value="0" type="number"> </td>
          <td>{{ hannbaikakaku}}</td>
        </tr>
        <tr>
          <td style="text-align: right;">販売価格_楽天</td>
          <td><input name="hanbai_kakaku_rakuten" value="0" type="number"> </td>
          <td>{{ hannbaikakaku_rakuten }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">販売価格_ラクマ<br>
          </td>
          <td><input name="hanbai_kakaku_rakuma" value="0" type="number"> </td>
          <td>{{ hannbaikakaku_rakuma }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">下代<br>
          </td>
          <td><input name="gedai" value="0" type="number"> </td>
          <td>{{ gedai }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">在庫<br>
          </td>
          <td><input name="zaiko" value="0" type="number"> </td>
          <td>{{ zaiko }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">梱包サイズ<br>
          </td>
          <td><input name="konpo" value="0" type="number"> </td>
          <td>{{ konpo }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">商品説明<br>
          </td>
          <td><input name="syouhinnsetumei" value="0" type="number"> </td>
          <td>{{ syouhinnsetumei }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">サイズ<br>
          </td>
          <td><input name="saizu" value="0" type="number"> </td>
          <td>{{ saizu }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">品質<br>
          </td>
          <td><input name="hinnsitu" value="0" type="number"> </td>
          <td>{{ hinnsitu }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">モニター<br>
          </td>
          <td><input name="monita" value="0" type="number"> </td>
          <td>{{ monita }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">柄<br>
          </td>
          <td><input name="gara" value="0" type="number"> </td>
          <td>{{ gara }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">ゆうパケット<br>
          </td>
          <td><input name="yuu" value="0" type="number"> </td>
          <td>{{ yuu }}</td>
        </tr>
        <tr>
          <td style="text-align: right;">更新日<br>
          </td>
          <td><input name="kousinnbi" value="0" type="number"> </td>
          <td>{{ kousinbi }}</td>
        </tr>
      </tbody>
    </table>
    <p><br>
    </p>
    <div style="text-align: center;"><button name="save">保存する</button></div>
    <p><br>
    </p>
    <p><br>
    </p>
    <p> </p>
    <p><br>
    </p>
  </body>
</html>
